# This .gitignore is non-standard, it is a white list.
# Files must be explicitly added as exclusions to be committed.

# Ignore all directories, and all sub-directories, and their contents
*/*

# Include git configuration files
!/.gitignore
!/.gitattributes
